Jwt__Issuer="SharpClaw"
Jwt__Audience="SharpClaw"
Jwt__AccessTokenLifetime="00:30:00"
Jwt__RefreshTokenLifetime="30.00:00:00"
Auth__DisableApiKeyCheck="false"
Auth__DisableAccessTokenCheck="false"
Agent__DisableCustomProviderParameters="false"
Chat__DisableDefaultHeaders="false"
Chat__DisableDefaultSystemPrompt="false"
Chat__DisableHeaderTagExpansion="false"
Chat__DisableModuleHeaderTags="false"
Chat__CacheMaxMegabytes="2048"
AgentOrchestration__DisableAccessibleThreadsHeader="false"
Database__EnableDetailedErrors="true"
Database__EnableSensitiveDataLogging="false"
Logging__Serilog__Enabled="true"
Logging__Serilog__ConsoleEnabled="true"
Logging__Serilog__RequestLoggingEnabled="true"
Logging__Serilog__MinimumLevel="Debug"
Logging__Serilog__MicrosoftMinimumLevel="Information"
Logging__Serilog__AspNetCoreMinimumLevel="Information"
Logging__Serilog__EntityFrameworkCoreMinimumLevel="Information"
Logging__Serilog__UnoMinimumLevel="Information"
Admin__Username="admin"
Admin__Password="123456"
Admin__ReconcilePermissions="true"
Local__GpuLayerCount="-1"
Local__ContextSize="8192"
Local__KeepLoaded="true"
Local__IdleCooldownMinutes="5"
Local__MaxCachedSessions="2"
Local__ModelsDirectory=""
Local__HuggingFaceToken=""
EnvEditor__AllowNonAdmin="false"
UniqueNames__Agents="true"
UniqueNames__Channels="true"
UniqueNames__Providers="true"
UniqueNames__Models="true"
UniqueNames__Roles="true"
UniqueNames__Contexts="true"
Modules__CrashOnExternalModuleLoadFailure="true"
Modules__EventDispatchTimeoutSeconds="5"
Modules__HealthCheckIntervalSeconds="60"
Modules__HealthCheckFailureThreshold="3"
Modules__HealthCheckTimeoutSeconds="10"
Modules__MaxEnvelopeSizeBytes="1048576"
Modules__UnloadVerifyMaxAttempts="10"
Modules__UnloadVerifyDelayMs="100"
Modules__sharpclaw_agent_orchestration="true"
Modules__sharpclaw_editor_common="true"
Modules__sharpclaw_metrics="true"
Modules__sharpclaw_module_dev="true"
Modules__sharpclaw_providers_anthropic="true"
Modules__sharpclaw_providers_google="true"
Modules__sharpclaw_providers_llamasharp="true"
Modules__sharpclaw_providers_ollama="true"
Modules__sharpclaw_providers_openai_compat="true"
Modules__sharpclaw_test_harness_out_of_process="true"
Modules__sharpclaw_test_harness_in_process="false"
Modules__sharpclaw_vs2026_editor="true"
Modules__sharpclaw_vscode_editor="true"
