ASPNETCORE_URLS="http://127.0.0.1:48923"
Auth__DisableApiKeyCheck="false"
Database__Provider="JsonFile"
Database__EnableDetailedErrors="true"
Database__EnableSensitiveDataLogging="false"
Logging__ConsoleEnabled="true"
Logging__RequestLoggingEnabled="true"
Logging__MinimumLevel="Debug"
Logging__Overrides__Microsoft="Information"
Logging__Overrides__Microsoft.AspNetCore="Information"
Logging__Overrides__Microsoft.EntityFrameworkCore="Information"
Modules__CrashOnExternalModuleLoadFailure="true"
Modules__EventDispatchTimeoutSeconds="5"
Modules__HealthCheckIntervalSeconds="60"
Modules__HealthCheckFailureThreshold="3"
Modules__HealthCheckTimeoutSeconds="10"
Modules__MaxEnvelopeSizeBytes="1048576"
Modules__UnloadVerifyMaxAttempts="10"
Modules__UnloadVerifyDelayMs="100"
Modules__sharpclaw_context="true"
Modules__sharpclaw_two_tier_permission="true"
Modules__sharpclaw_agents="true"
Modules__sharpclaw_editor_common="true"
Modules__sharpclaw_metrics="true"
Modules__sharpclaw_module_dev="true"
Modules__sharpclaw_providers_anthropic="true"
Modules__sharpclaw_providers_google="true"
Modules__sharpclaw_providers_llamasharp="true"
Modules__sharpclaw_providers_ollama="true"
Modules__sharpclaw_providers_openai_compat="true"
Modules__sharpclaw_vs2026_editor="true"
Modules__sharpclaw_vscode_editor="true"
