ASPNETCORE_URLS="http://127.0.0.1:48923"
Auth__DisableApiKeyCheck="false"
Database__Provider="JsonFile"
Database__EnableDetailedErrors="true"
Database__EnableSensitiveDataLogging="false"
Logging__ConsoleEnabled="true"
Logging__RequestLoggingEnabled="true"
Logging__MinimumLevel="Debug"
Logging__Overrides__Microsoft="Information"
Logging__Overrides__Microsoft.AspNetCore="Information"
Logging__Overrides__Microsoft.EntityFrameworkCore="Information"
Packages__CrashOnExternalLoadFailure="true"
Packages__EventDispatchTimeoutSeconds="5"
Packages__HealthCheckIntervalSeconds="60"
Packages__HealthCheckFailureThreshold="3"
Packages__HealthCheckTimeoutSeconds="10"
Packages__MaxEnvelopeSizeBytes="1048576"
Packages__UnloadVerifyMaxAttempts="10"
Packages__UnloadVerifyDelayMs="100"
