ASPNETCORE_URLS="http://127.0.0.1:48923"
SHARPCLAW_INSTANCE_ROOT=""
SHARPCLAW_DATA_DIR=""

Encryption__EncryptDatabase="true"
Encryption__EncryptProviderKeys="true"
Auth__DisableApiKeyCheck="false"

DurableStorage__SegmentMaxBytes="8388608"
DurableStorage__SegmentMaxAgeMinutes="5"
DurableStorage__MaxRecordBytes="262144"
DurableStorage__MaxPageRecords="1000"
DurableStorage__MaxPageBytes="1048576"
DurableStorage__MaxReadScanBytes="16777216"
DurableStorage__Retention__IntervalMinutes="15"
DurableStorage__Retention__JobLogDays="30"
DurableStorage__Retention__ProcessLogDays="14"
DurableStorage__Retention__ModuleLogDays="14"
DurableStorage__Retention__MaximumLogBytes="10737418240"
DurableStorage__Retention__MaximumArtifactBytes="21474836480"
DurableStorage__Retention__MinimumFreeBytes="1073741824"
DurableStorage__Retention__MaximumDeletesPerRun="10000"
DurableStorage__Retention__MaximumArtifactDeletesPerRun="10000"
DurableStorage__Retention__ArtifactOrphanGraceHours="24"

Database__Provider="JsonFile"
Database__EnableDetailedErrors="true"
Database__EnableSensitiveDataLogging="false"
Database__JsonFile__Compression="Brotli"
Database__JsonFile__StartupMode="MetadataOnly"
Database__JsonFile__FullScanPolicy="AllowSilentScans"
Database__JsonFile__FsyncOnWrite="true"
Database__JsonFile__FlushRetryMaxRetries="3"
Database__JsonFile__FlushRetryBaseDelayMilliseconds="200"
Database__JsonFile__TransactionReplayMaxRetries="3"
Database__JsonFile__ReadRetryMaxRetries="3"
Database__JsonFile__ReadRetryBaseDelayMilliseconds="25"
Database__JsonFile__IndexRescanIntervalMinutes="60"
Database__JsonFile__QuarantineMaxAgeDays="30"
Database__JsonFile__EnableChecksums="true"
Database__JsonFile__VerifyChecksumsOnRead="false"
Database__JsonFile__EnableEventLog="false"
Database__JsonFile__EventLogRetentionDays="7"
Database__JsonFile__EnableSnapshots="false"
Database__JsonFile__SnapshotIntervalHours="24"
Database__JsonFile__SnapshotRetentionCount="3"
Database__Relational__CommandTimeoutSeconds=""
Database__Postgres__CommandTimeoutSeconds=""
Database__Postgres__EnableRetryOnFailure="false"
Database__Postgres__MaxRetryCount="6"
Database__Postgres__MaxRetryDelaySeconds="30"
Database__SqlServer__CommandTimeoutSeconds=""
Database__SqlServer__EnableRetryOnFailure="false"
Database__SqlServer__MaxRetryCount="6"
Database__SqlServer__MaxRetryDelaySeconds="30"
Database__SQLite__CommandTimeoutSeconds=""
ConnectionStrings__Postgres="Host=localhost;Database=sharpclaw;Username=sharpclaw;Password="
ConnectionStrings__SqlServer="Server=localhost;Database=SharpClaw;Trusted_Connection=True;TrustServerCertificate=True"
ConnectionStrings__SQLite="Data Source=sharpclaw.db"

Logging__ConsoleEnabled="true"
Logging__RequestLoggingEnabled="true"
Logging__MinimumLevel="Information"
Logging__Overrides__Microsoft="Warning"
Logging__Overrides__Microsoft.AspNetCore="Warning"
Logging__Overrides__Microsoft.EntityFrameworkCore="Warning"

Modules__CrashOnExternalModuleLoadFailure="true"
Modules__EventDispatchTimeoutSeconds="5"
Modules__HealthCheckIntervalSeconds="60"
Modules__HealthCheckFailureThreshold="3"
Modules__HealthCheckTimeoutSeconds="10"
Modules__MaxEnvelopeSizeBytes="1048576"
Modules__UnloadVerifyMaxAttempts="10"
Modules__UnloadVerifyDelayMs="100"
Modules__sharpclaw_context="true"
Modules__sharpclaw_two_tier_permission="true"
Modules__sharpclaw_agents="true"
Modules__sharpclaw_editor_common="false"
Modules__sharpclaw_metrics="false"
Modules__sharpclaw_module_dev="false"
Modules__sharpclaw_providers_anthropic="true"
Modules__sharpclaw_providers_google="true"
Modules__sharpclaw_providers_llamasharp="true"
Modules__sharpclaw_providers_ollama="true"
Modules__sharpclaw_providers_openai_compat="true"
Modules__sharpclaw_vs2026_editor="false"
Modules__sharpclaw_vscode_editor="false"
