Encryption__EncryptDatabase="true"
Encryption__EncryptProviderKeys="true"
DurableStorage__SegmentMaxBytes="8388608"
DurableStorage__SegmentMaxAgeMinutes="5"
DurableStorage__MaxRecordBytes="262144"
DurableStorage__MaxPageRecords="1000"
DurableStorage__MaxPageBytes="1048576"
DurableStorage__MaxReadScanBytes="16777216"
DurableStorage__Retention__IntervalMinutes="15"
DurableStorage__Retention__JobLogDays="30"
DurableStorage__Retention__TaskLogDays="30"
DurableStorage__Retention__TaskOutputDays="90"
DurableStorage__Retention__ProcessLogDays="14"
DurableStorage__Retention__ModuleLogDays="14"
DurableStorage__Retention__MaximumLogBytes="10737418240"
DurableStorage__Retention__MaximumArtifactBytes="21474836480"
DurableStorage__Retention__MinimumFreeBytes="1073741824"
DurableStorage__Retention__MaximumDeletesPerRun="10000"
DurableStorage__Retention__MaximumArtifactDeletesPerRun="10000"
DurableStorage__Retention__MaximumTaskStateDeletesPerRun="10000"
DurableStorage__Retention__ArtifactOrphanGraceHours="24"
Jwt__Issuer="SharpClaw"
Jwt__Audience="SharpClaw"
Jwt__AccessTokenLifetime="00:30:00"
Jwt__RefreshTokenLifetime="30.00:00:00"
Auth__DisableApiKeyCheck="false"
Auth__DisableAccessTokenCheck="false"
Agent__DisableCustomProviderParameters="false"
Chat__DisableDefaultHeaders="false"
Chat__DisableDefaultSystemPrompt="false"
Chat__DisableHeaderTagExpansion="false"
Chat__DisableModuleHeaderTags="false"
Chat__CacheMaxMegabytes="2048"
AgentOrchestration__DisableAccessibleThreadsHeader="false"
Database__Provider="JsonFile"
Database__EnableDetailedErrors="true"
Database__EnableSensitiveDataLogging="false"
Database__JsonFile__Compression="Brotli"
Database__JsonFile__StartupMode="MetadataOnly"
Database__JsonFile__FullScanPolicy="AllowSilentScans"
Database__JsonFile__FsyncOnWrite="true"
Database__JsonFile__FlushRetryMaxRetries="3"
Database__JsonFile__FlushRetryBaseDelayMilliseconds="200"
Database__JsonFile__TransactionReplayMaxRetries="3"
Database__JsonFile__ReadRetryMaxRetries="3"
Database__JsonFile__ReadRetryBaseDelayMilliseconds="25"
Database__JsonFile__IndexRescanIntervalMinutes="60"
Database__JsonFile__QuarantineMaxAgeDays="30"
Database__JsonFile__EnableChecksums="true"
Database__JsonFile__VerifyChecksumsOnRead="false"
Database__JsonFile__EnableEventLog="false"
Database__JsonFile__EventLogRetentionDays="7"
Database__JsonFile__EnableSnapshots="false"
Database__JsonFile__SnapshotIntervalHours="24"
Database__JsonFile__SnapshotRetentionCount="3"
Database__Relational__CommandTimeoutSeconds=""
Database__Postgres__CommandTimeoutSeconds=""
Database__Postgres__EnableRetryOnFailure="false"
Database__Postgres__MaxRetryCount="6"
Database__Postgres__MaxRetryDelaySeconds="30"
Database__SqlServer__CommandTimeoutSeconds=""
Database__SqlServer__EnableRetryOnFailure="false"
Database__SqlServer__MaxRetryCount="6"
Database__SqlServer__MaxRetryDelaySeconds="30"
Database__SQLite__CommandTimeoutSeconds=""
ConnectionStrings__Postgres="Host=localhost;Database=sharpclaw;Username=sharpclaw;Password="
ConnectionStrings__SqlServer="Server=localhost;Database=SharpClaw;Trusted_Connection=True;TrustServerCertificate=True"
ConnectionStrings__SQLite="Data Source=sharpclaw.db"
Logging__Serilog__Enabled="true"
Logging__Serilog__ConsoleEnabled="true"
Logging__Serilog__RequestLoggingEnabled="true"
Logging__Serilog__MinimumLevel="Information"
Logging__Serilog__MicrosoftMinimumLevel="Warning"
Logging__Serilog__AspNetCoreMinimumLevel="Warning"
Logging__Serilog__EntityFrameworkCoreMinimumLevel="Warning"
Logging__Serilog__UnoMinimumLevel="Warning"
Admin__Username="admin"
Admin__Password="123456"
Admin__ReconcilePermissions="true"
Local__GpuLayerCount="-1"
Local__ContextSize="8192"
Local__KeepLoaded="true"
Local__IdleCooldownMinutes="5"
Local__MaxCachedSessions="2"
Local__ModelsDirectory=""
Local__HuggingFaceToken=""
EnvEditor__AllowNonAdmin="false"
UniqueNames__Agents="true"
UniqueNames__Channels="true"
UniqueNames__Providers="true"
UniqueNames__Models="true"
UniqueNames__Roles="true"
UniqueNames__Contexts="true"
Modules__CrashOnExternalModuleLoadFailure="true"
Modules__EventDispatchTimeoutSeconds="5"
Modules__HealthCheckIntervalSeconds="60"
Modules__HealthCheckFailureThreshold="3"
Modules__HealthCheckTimeoutSeconds="10"
Modules__MaxEnvelopeSizeBytes="1048576"
Modules__UnloadVerifyMaxAttempts="10"
Modules__UnloadVerifyDelayMs="100"
Modules__sharpclaw_agent_orchestration="false"
Modules__sharpclaw_editor_common="false"
Modules__sharpclaw_metrics="false"
Modules__sharpclaw_module_dev="false"
Modules__sharpclaw_providers_anthropic="true"
Modules__sharpclaw_providers_google="true"
Modules__sharpclaw_providers_llamasharp="true"
Modules__sharpclaw_providers_ollama="true"
Modules__sharpclaw_providers_openai_compat="true"
Modules__sharpclaw_test_harness_out_of_process="false"
Modules__sharpclaw_test_harness_in_process="false"
Modules__sharpclaw_vs2026_editor="false"
Modules__sharpclaw_vscode_editor="false"
