Api__Url="http://127.0.0.1:48923"
Logging__Serilog__Enabled="true"
Logging__Serilog__ConsoleEnabled="true"
Logging__Serilog__RequestLoggingEnabled="false"
Logging__Serilog__MinimumLevel="Debug"
Logging__Serilog__MicrosoftMinimumLevel="Information"
Logging__Serilog__AspNetCoreMinimumLevel="Information"
Logging__Serilog__EntityFrameworkCoreMinimumLevel="Information"
Logging__Serilog__UnoMinimumLevel="Information"
Backend__Enabled="true"
Gateway__Enabled="false"
Gateway__Url="http://0.0.0.0:48924"
Processes__Persistent="false"
Processes__AutoStart="false"
