Api__Url="http://127.0.0.1:48923"
Logging__ConsoleEnabled="true"
Logging__RequestLoggingEnabled="false"
Logging__MinimumLevel="Information"
Logging__Overrides__Microsoft="Warning"
Logging__Overrides__Microsoft.AspNetCore="Warning"
Logging__Overrides__Microsoft.EntityFrameworkCore="Warning"
Logging__Overrides__Uno="Warning"
Backend__Enabled="true"
Gateway__Enabled="false"
Gateway__Url="http://0.0.0.0:48924"
Processes__Persistent="false"
Processes__AutoStart="false"
