InternalApi__BaseUrl="http://127.0.0.1:48923"
InternalApi__TimeoutSeconds="300"
Logging__ConsoleEnabled="true"
Logging__RequestLoggingEnabled="true"
Logging__MinimumLevel="Debug"
Logging__Overrides__Microsoft="Information"
Logging__Overrides__Microsoft.AspNetCore="Information"
Logging__Overrides__Microsoft.EntityFrameworkCore="Information"
Logging__Overrides__Uno="Information"
Gateway__RequestQueue__Enabled="true"
Gateway__RequestQueue__MaxConcurrency="1"
Gateway__RequestQueue__TimeoutSeconds="30"
Gateway__RequestQueue__MaxRetries="2"
Gateway__RequestQueue__RetryDelayMs="500"
Gateway__RequestQueue__MaxQueueSize="500"
Gateway__Endpoints__Enabled="true"
Gateway__Modules__HotReloadEnabled="false"
Gateway__Modules__DrainTimeoutSeconds="30"
