InternalApi__BaseUrl="http://127.0.0.1:48923"
InternalApi__TimeoutSeconds="300"
Logging__Serilog__Enabled="true"
Logging__Serilog__ConsoleEnabled="true"
Logging__Serilog__RequestLoggingEnabled="true"
Logging__Serilog__MinimumLevel="Debug"
Logging__Serilog__MicrosoftMinimumLevel="Information"
Logging__Serilog__AspNetCoreMinimumLevel="Information"
Logging__Serilog__EntityFrameworkCoreMinimumLevel="Information"
Logging__Serilog__UnoMinimumLevel="Information"
Gateway__RequestQueue__Enabled="true"
Gateway__RequestQueue__MaxConcurrency="1"
Gateway__RequestQueue__TimeoutSeconds="30"
Gateway__RequestQueue__MaxRetries="2"
Gateway__RequestQueue__RetryDelayMs="500"
Gateway__RequestQueue__MaxQueueSize="500"
Gateway__Endpoints__Enabled="true"
Gateway__Endpoints__Auth="true"
Gateway__Endpoints__Agents="true"
Gateway__Endpoints__Channels="true"
Gateway__Endpoints__ChannelContexts="true"
Gateway__Endpoints__Chat="true"
Gateway__Endpoints__ChatStream="true"
Gateway__Endpoints__Threads="true"
Gateway__Endpoints__ThreadChat="true"
Gateway__Endpoints__ThreadWatch="true"
Gateway__Endpoints__Jobs="true"
Gateway__Endpoints__Models="true"
Gateway__Endpoints__LocalModels="true"
Gateway__Endpoints__Providers="true"
Gateway__Endpoints__Roles="true"
Gateway__Endpoints__Users="true"
Gateway__Endpoints__Cost="true"
Gateway__Endpoints__Tasks="true"
Gateway__Endpoints__TaskStreaming="true"
Gateway__Endpoints__ToolAwarenessSets="true"
Gateway__Endpoints__Resources="true"
Gateway__Modules__HotReloadEnabled="false"
Gateway__Modules__DrainTimeoutSeconds="30"
