InternalApi__BaseUrl="http://127.0.0.1:48923"
InternalApi__TimeoutSeconds="300"
InternalApi__ApiKey=""
InternalApi__ApiKeyFilePath=""
InternalApi__GatewayToken=""
InternalApi__GatewayTokenFilePath=""
Logging__Serilog__Enabled="true"
Logging__Serilog__ConsoleEnabled="true"
Logging__Serilog__RequestLoggingEnabled="true"
Logging__Serilog__MinimumLevel="Information"
Logging__Serilog__MicrosoftMinimumLevel="Warning"
Logging__Serilog__AspNetCoreMinimumLevel="Warning"
Logging__Serilog__EntityFrameworkCoreMinimumLevel="Warning"
Logging__Serilog__UnoMinimumLevel="Warning"
Gateway__RequestQueue__Enabled="true"
Gateway__RequestQueue__MaxConcurrency="1"
Gateway__RequestQueue__TimeoutSeconds="30"
Gateway__RequestQueue__MaxRetries="2"
Gateway__RequestQueue__RetryDelayMs="500"
Gateway__RequestQueue__MaxQueueSize="500"
Gateway__Endpoints__Enabled="true"
Gateway__Endpoints__Auth="false"
Gateway__Endpoints__Agents="false"
Gateway__Endpoints__Channels="false"
Gateway__Endpoints__ChannelContexts="false"
Gateway__Endpoints__Chat="false"
Gateway__Endpoints__ChatStream="false"
Gateway__Endpoints__Threads="false"
Gateway__Endpoints__ThreadChat="false"
Gateway__Endpoints__ThreadWatch="false"
Gateway__Endpoints__Jobs="false"
Gateway__Endpoints__Models="false"
Gateway__Endpoints__LocalModels="false"
Gateway__Endpoints__Providers="false"
Gateway__Endpoints__Roles="false"
Gateway__Endpoints__Users="false"
Gateway__Endpoints__Cost="false"
Gateway__Endpoints__Tasks="false"
Gateway__Endpoints__TaskStreaming="false"
Gateway__Endpoints__ToolAwarenessSets="false"
Gateway__Endpoints__Resources="false"
Gateway__Modules__HotReloadEnabled="false"
Gateway__Modules__DrainTimeoutSeconds="30"
